# Данные от базы MySQL
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASS=password
DB_NAME=telegram_forwarder

# Данные от Telegram (с сайта my.telegram.org)
API_ID=12345678
API_HASH=hash123abcdefghijklmnop